.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 0;
}
.form-col {
  flex: 1;
  min-width: 0;
}
.ant-form-item {
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .form-row {flex-direction: column;gap: 6px;}
}
